/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    padding: 0;
    margin: 0;
}
body{
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(50, 50, 50)), to(rgb(25, 25, 25)));
    background: -o-linear-gradient(top left, rgb(50, 50, 50), rgb(25, 25, 25));
    background: linear-gradient(to bottom right, rgb(50, 50, 50), rgb(25, 25, 25));
    background-size: 100% 100%;
}
section{
    width: 100%;
    margin: 0.5% auto;
}
img{
    width: 50%;
}
/*load*/
.load{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 99999;
    background: #000;
}
.l{
    height: 5px;
    background-color: rgb(34, 187,255);
    width: 0;
}
/*头部导航*/
header{
    height: 50px;
    width: 100%;
    background: rgba(55,55,55,0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 9999;
    padding: 1.5% 1% 1.5% 0.5%;
}
header img{
    width: 100%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}
header img:hover{
    -webkit-filter: brightness(2.5);
            filter: brightness(2.5);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
header p{
    display: block;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
.menupic{/*汉堡菜单的图片区块*/
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu{
     width: 15%;
     background-color:rgb(3,3,3);
     position: absolute;
     top: 55px;
     left: 2%;
     z-index: 9999;
}
.menu-text{/*汉堡菜单的文字区块*/
    font-weight: bolder;
    color: white;/***被超链接覆盖***/
    line-height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.menu-text a{
    color: white;
}
.menu-text div[class^='line']{/*文字前的线;属性选择器选中class为line设置*/
    width: 0px;
    height: 3px;
    background-color:rgb(34, 187,255);
    margin-right: 5px;
}
.music{/*音乐区块*/
    width: 45px;
    height: 45px;
    position: absolute;
    right: 150px;
    -webkit-animation: music 5s;
            animation: music 5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    cursor: pointer;
}
.music img{
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}
.music img:hover{
    -webkit-filter: brightness(3);
            filter: brightness(3);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
@-webkit-keyframes music{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes music{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/*文字区块*/
#tipswiper{
    width: 40%;
    height: 300px;
    position: absolute;
    top: 50%;right: 2%;
    overflow: hidden;
}
#tipswiper h2{
    color: white;
    font-weight: bolder;
}
#tipswiper p{
    color: rgb(112, 112, 112);
}




/*平板*/
@media screen and (max-width:992px){
    img{
        width: 70%;
    }
}
/*手机*/
@media only screen and (max-width:768px ) {
    img{
        width: 100%;
    }
    #tipswiper{
    width: 100%;
    top: 65%;right: 0%;
    text-align: center;
}
    /*汉堡菜单*/
.menu{
     width: 45%;
}
}
/*适配*/
@media only screen and (max-width:500px ) {
    img{
        width: 100%;
    }
    #tipswiper{
    width: 100%;
    top: 50%;right: 0%;
    text-align: center;
}
}