img {
  width: 100%;
}
.nav_2 a {
  position: relative;
  left: -19px;
}
.wm_one {
  width: 100%;
  height: auto;
  min-height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}

.wm_one .left {
  width: 45%;
}

.wm_one .left .img {
  display: none;
}

.wm_one .left ul li {
  height: 45px;
  border-left: 2px solid rgb(236, 199, 139);
  margin-bottom: 50px;
}

.wm_one .left ul li h3 {
  color: rgb(0, 122, 83);
}

.wm_one .right {
  width: 50%;
}

.wm_one .right img {
  width: 100%;
}

.wm_two {
  background: url("../img/licheng.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 670px;
  padding-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

.wm_two .img {
  width: 250px;
}

.wm_two h2 {
  color: white;
  text-align: center;
}

.wm_two ul {
  margin-top: 80px;
  display: flex;
  align-items: center;
  color: white;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wm_two ul li {
  width: 23%;
  height: 450px;
  margin-right: 40px;
}

.wm_two ul li h1::before {
  content: "•";
  color: rgb(236, 199, 139);
  font-size: 3em;
}

.wm_three {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.wm_three .img {
  width: 150px;
}

.wm_three h2 {
  color: rgb(207, 160, 97);
  text-align: center;
  margin-bottom: 30px;
}

.wm_three ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #666;
  text-align: center;
}

.wm_three ul .li1 {
  border-top: 2px solid rgb(0, 122, 83);
}

.wm_three ul .li2 {
  margin-top: 80px;
}

.wm_three ul li {
  margin-right: 20px;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wm_four {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

.wm_four .img {
  width: 280px;
  margin-right: 28px;
}

.wm_four h2 {
  color: rgb(207, 160, 97);
  text-align: center;
  margin-bottom: 30px;
}

.wm_four ul {
  margin-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55vh;
}

.wm_four ul li {
  display: flex;
  margin-bottom: 30px;
}

.wm_four ul li .r .tit {
  font-size: 1.4em;
  font-weight: bold;
}

.wm_four ul li .r span {
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  font-size: 1.3em;
}


@media screen and (max-width:1000px) {
  .wm_one {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 30px;
  }

  .wm_one .left {
    width: 100%;
  }

  .wm_one .left .img {
    width: 50px;
    display: block;
  }

  .wm_one .left ul li {
    height: 150px;
    border-left: none;
    border: 2px solid rgb(0, 122, 83);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .wm_one .left ul li h3 {
    color: rgb(0, 122, 83);
  }

  .wm_one .right {
    width: 50%;
    display: none;
  }



  .wm_two {
    padding-left: 4%;
    padding-right: 4%;
  }

  .wm_two ul li {
    width: 100%;
    height: 450px;
    margin-right: 40px;
  }



  .wm_three {
    padding-left: 4%;
    padding-right: 4%;
  }


  .wm_three ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #666;
    text-align: center;
  }

  .wm_three ul .li2 {
    margin-top: auto;
  }

  .wm_three ul li {
    width: 150px;
  }


  .wm_four ul li {
    border-bottom: 1px solid #666;
  }

  .wm_four .img {
    display: none;
  }
}