*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
#header {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

#banner {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#banner img {
  width: 100%;
  display: block;
}
/*隐藏手机适配*/
#sp {
  height: 140px;
  display: none;
}
.nav {
  width: 100%;
  height: 140px;
  background-color: white;
  text-align: center;
  position: relative;
  z-index: 99999999;
}

.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.nav ul li {
  padding: 0px 30px 0px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


.nav ul li a {
  position: relative;
  font-weight: 100;
  display: block;
  color: #007a53;
  text-decoration: none;
  transition: all .5s;
}

.nav ul li a:hover {
  color: #007a53;
  font-weight: 600;
}

.nav ul li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007a53;
  display: block;
  transition: all .5s;
  position: absolute;
  bottom: 32%;
  left: 50%;
}

.nav ul li a:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #007a53;
  display: block;
  transition: all .5s;
  position: absolute;
  bottom: 32%;
  left: 0%;
}

.nav_2 {
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 999;
  width: 140px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.nav_2 li {
  width: 140px;
  height: 50px !important;
  line-height: 50px !important;
  color: #007a53;
}

.nav_2 li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007a53;
  display: block;
  transition: all .5s;
  position: absolute;
  bottom: 30%;
  left: 50%;
}

.nav_2 li a:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #007a53;
  display: block;
  transition: all .5s;
  position: absolute;
  bottom: 30%;
  left: 0%;
}


#footer {
  height: 250px;
  width: 100%;
  background: #007a53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

#footer h1 {
  color: white;
}

#footer address {
  color: white;
  line-height: 1.8em;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer .qr {
  width: 30%;
}

#footer .qr img {
  width: 100%;
}

@media screen and (max-width:1000px) {
  #sp {
    height: auto;
    display: block;
  }
  .nav{
    background: inherit;
    height: auto;
  }
  #pcnav {
    display: none;
  }


  #footer {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  #footer .logo1 {
    display: none;
  }

  #footer address {
    line-height: 1.5em;
  }

  #footer .qr {
    width: 100%;
  }

  #footer .qr img {
    width: 100%;
  }
}