* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

#banner{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
#banner img{
	width: 100%;
	display: block;
}
#content{
	width: 100%;
	height:auto;
	min-height: 500px;
}
#content .tit{
	color: #cfa061;
	margin-top: 50px;
}
#content .al{
	display: flex;
  justify-content: center;
  align-items: center;
}
#content h2{
	text-align: center;
}

#content .box{
	display: flex;
	 justify-content: center;
  align-items: center;
   flex-direction: column;
   width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 50px;
  transition: 0.8s;
}
#content .box h3{
	margin-top: 5px;
	text-align: center;
	color: #cfa061;
}

#content .box p{
	 display: block;
	 font-size: 14px;
	 line-height: 24px;
  padding-top: 20px;
}



.tab_contents{
	overflow: hidden;
	margin: 30px auto 0;
}

.tab_contents .tab_nav{
	display: block;
	list-style: none;
	display: flex;
	width: 100%;
}
.tab_contents .tab_nav li{
	width:25%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 2px;
	background-color: #007a53;
	 overflow: hidden;
	 list-style: none;
	color: #cfa061; 
	cursor: pointer;
}

.tab_contents .tabNav_active{
	background: #cfa061 !important;
	color: #FFFFFF !important;
}

.tab_contents .tab_box{
	width: 100%;
	height:300px;
	padding: 2em;
	position: relative;
	min-height: 150px;
	background: oldlace;
}
.tab_contents .tab_box li{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	padding: 15px;
	box-sizing: border-box;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	transition: opacity 1s;
}
.tab_box .box-content{
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
}
.box-content h3{
	overflow: hidden;
color:#cfa061 ;
margin-top: 60px;
font-size: 22px;
}
.box-content p{
	width: 400px;
	height: 200px;
	overflow: hidden;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 14px;
}

.tab_contents .tab_box .tabBox_active{
	opacity: 1;
	visibility: visible;
}
.tab_contents .tab_box li img{
	height: 100%;
	display:inline-block;
}


#baozhangtixi{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.tixi{
  overflow: hidden;
	margin: 40px auto 30px auto;
}
.tixi ul{
	overflow: hidden;
}
.tixi ul li{
	width: 33.33%;
	float: left;
	padding: 30px;
	border: 20px solid #fff;
	box-sizing: border-box;/*//需要知道到底什么作用*/
	overflow: hidden;
	position: relative;
	background: #f0f0f0;
}
.tixi ul li div{
	position: absolute;
	top: 20px;
	left: 20px;
	width:70px;
	float:left;
}

.tixi ul li div img{
	width: 100%;
}
.tixi ul li div .showhide{
	display: block;
}
.tixi ul li div .showhide2{
	display: none;
}
.tixi ul li h3{
	font-size: 20px;
	overflow: hidden;
	text-align: right;
}

.tixi ul li h3 b{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}
.tixi ul li h3 p{
	font-weight: 400;
	font-size: 14px;
}
.tixi ul li .txt{
	margin-top: 20px;
	overflow: hidden;
	line-height: 28px;
display: none;
	transition: all .5s;
}
.tixi ul li:hover .txt{
	display: block;
}
.tixi ul li:hover{
	background: #d4a972;
	color: #fff;
}
.tixi ul li:hover .showhide{
	display: none;
}
.tixi ul li:hover .showhide2{
	display: block;
}

/*适配*/
@media only screen and (max-width: 1000px) {

	#yincang{
		display: none;
		
	}
	body{
		width: 100%;
	}
	#header{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	#banner{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	#content{
		width: 100%;
		overflow: hidden;
	}
	.jm{
		overflow: hidden;
	}
	.jm .tit{
		font-size: 25px;
		line-height: 30px;
	}

   .jm .al {
    flex-direction: column;
  }

  .jm .box {
    width: 100%;
    height: 300px;
    margin-left:20px;
  }
  .jm .box h3 p{
  	font-size: 0.3em;
  }
	.tab_contents{
		width: 100%;
	}
	.tab_nav{
		width: 100%;
	}
	#baozhangtixi{
		width: 100%;
	}
	.tixi{
		width: 90%;
		
	}
	.tixi ul li{
		width: 100%;
		float: none;
	}
	.tixi ul li h3 p{
		font-size: 3px;
	}
	#sp{
		width: 100%;
		position: relative;
		top: -30px;
		left: 0;
		display: block;
		height:auto;
	}
		.nav{
		background-color: #333333;
	}
}