*{
	padding: 0px;
	margin: 0px;
}
#header{
	width: 100%;
	height:auto;
}




#banner{
	width: 100%;
	height:auto;
}
#banner img{
	width: 100%;
	display: block;/*将图片设置成块状元素*/
}


.tab_contents{
	width: 80%;
	height:100vh;
	margin: auto;
}

.tab_contents .tab_nav{
	list-style: none;
	display: flex;
	margin-top: 50px;
	margin-left: 6%;
	margin-right: 10%;
	width: 100%;
}
.tab_contents .tab_nav li{
	width:auto;
	padding: 10px 52px;
	 background-color: #007a53;
	 cursor: pointer;
	 display: flex;
	 font-size: 10px;
	 position: relative;
	 overflow: hidden;
	 list-style: none;
	color: #cfa061;
}

.tab_contents .tabNav_active{
	background: #cfa061 !important;
	color: #FFFFFF !important;
}

.tab_contents .tab_box{
	width: 90%;
	overflow: hidden;
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
	height:620px;
	padding: 2em;
	position: relative;
	min-height: 150px;
}
.tab_contents .tab_box li{
	width: 100%;
	height:auto;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	padding: 15px;
	box-sizing: border-box;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	transition: opacity 1s;
}
.tab_contents .tab_box .tabBox_active{
	opacity: 1;
	visibility: visible;
}
.tab_contents .tab_box li img{
	width: 80%;
	display:inline-block;
}




/*奶茶展示区块*/

.right_box{
	text-align: center;
	padding:0px;
}
.right_box img{
	height: 100%;
}
.right_box #border-bottom{
	padding: 10px;
}
.right_box #border-bottom2{
	padding: 10px;
}

.right_box h6{
	font-weight: 300;
	height: 20%;
}



#box1{
	width: 80%;
	margin: auto;

}

#gyhd{
	width: 90%;
	margin: auto;
	padding:30px;
	border: 0px;
	position: relative;
}
#gyhd .fimg{
	position: absolute;
	top:50%;
	left: 0px;
}

#gyhd .tit{
color: #cfa061;
text-align: center;
line-height: 120px;
margin-top: -10px;
font-weight:bold;
}


#left,#content,#right{
	width:290px;
	height:290px;
	opacity: 1;
	overflow: hidden;
	background: #f1f1f1;
}
#left,#content,#right{
	margin-left:44px;
}

.ys1{
	transition: all .5s;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    line-height: 33px;
    overflow: hidden;
 
}



#left:hover,#content:hover,#right:hover{
	background:#007a53;
}
.img{
	float: right;
	opacity: 0;
}
/*这部分写的有点冗余但是暂时不知道怎么简写*/
#left:hover .img{
	opacity: 1;
}
#content:hover .img{
	opacity: 1;
}
#right:hover .img{
	opacity: 1;
}
#left:hover .fimg{
  width: 100%;
  transition:all 5s;
}
#content:hover .fimg{
	 width: 100%;
  transition:all 5s;
}
#right:hover .fimg{
	 width: 100%;
  transition:all 5s;
}
/*到这里*/


/*页脚布局*/
#footer {
  height: 250px;
  width: 100%;
  background: #007a53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

#footer h1 {
  color: white;
}

#footer address {
  color: white;
  line-height: 1.8em;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer .qr {
  width: 30%;
}

#footer .qr img {
  width: 100%;
}

.content{
	width: 80%;
	height: auto;
	margin:0px auto;
}

.left-logo{
   float: left;
}
.left-logo img{
	vertical-align: middle;
}
.content-text{
	float: left;
	color: #FFFFFF;
	margin-left: 100px;
}

.right-img{
	float: right;
}


@media only screen and (max-width: 1000px) {

		#nav{
			display: none;
		}
		.left-logo{
			display: none;
		}
		.content-text{
			float: none;
		}
		.right-img{
			float: none;
		}

.tab_contents{
	width: 100%;
	height: 960px;
}
		.tab_contents .tab_nav{
			  margin: 0px;
			  width: 100%;
		}
		.tab_contents .tab_nav li{
			width: 100%;
	     padding:10px 10px;
}

.tab_contents .tab_box{
	width: 100%;
	height: 80%;
	margin:20px 0px 0px 0px;
}

.tab_contents .tab_box li{
	width: 100%;
	padding: 0;
	margin: 0px;

}

.tab_contents .tab_box li img{
	width: 100%;
	display:inline-block;
}


#left,#content,#right{
	width: 90%;
	height:200px;
	margin-left:5%;
	margin-top:5%;
}

#gyhd{
	width: 100%;
}
#gyhd .fimg{
	width: 100%;
}
#gyhd .tit{
	font-size: 18px;
    line-height: 30px;
}


#sp{
	height:auto;
	display: block;

}
.right-img{
	width: 80%;
	margin: auto;
	padding: 20px;

}
.border-bottom{
	width:5%;
}
.border-bottom img{
	width:20%;
}
奶茶展示模块适配设置
/*.tab_contents .tab_box{
	width: 100%;
}*/
.left-imge{
	width: 50%;
}

.right_box{
	width: 100%;
	height: 100%;
	margin-top: 0px;
	background: beige;
}
.right_box h6{
	font-size:1px;
	height: 10%;
}

#oneline{
   width: 90%;
   margin: auto;
}
#oneline h6{
	font-size:0.3em;
}
#twoline{
   width: 90%;
  /* height: auto;*/
   margin: auto;
}
#border-bottom{
	padding-left: 0px;
}
#border-bottom img{
	width: 100%;
	padding-left: 0px;
}
#border-bottom2{
	padding-left:0px;

}
#border-bottom2 img{
	width: 100%;
	padding-left: 0px;
}
#box1{
	width:100%;
	text-align: center;
}

 #footer {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  #footer .logo1 {
    display: none;
  }

  #footer address {
    line-height: 1.5em;
  }

  #footer .qr {
    width: 100%;
  }

  #footer .qr img {
    width: 100%;
  }
}