* {
  padding: 0;
  margin: 0;
}
.Allbox {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.Allbox .img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: url(../img/美少女战士/li.jpg);
  background-size: cover;
  background-position: center;
}
.Allbox .mask {
  height: 100%;
  width: 100%;
  background: url(../img/美少女战士/mask.png);
  background-size: cover;
  position: absolute;
  z-index: 2;
  animation: mask 5s forwards;
}
@keyframes mask {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -20vw -20vh;
  }
  70% {
    background-position: 10vw 30vh;
  }
  100% {
    background-position: 30vw 20vh;
  }
}
