/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: black;
}
/*.bodybg{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
}*/


/*load*/
.load{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load .o{
    height: 200%;
    width: 200%;
    background-color: black;
    border-radius: 50%;
    
}

/*头部导航*/
header{
    height: 50px;
    width: 100%;
    background: rgba(55,55,55,0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 9999;
    padding: 1.5% 1% 1.5% 0.5%;
}
header img{
    width: 100%;
}
header p{
    display: block;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
.menupic{/*汉堡菜单的图片区块*/
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu{
     width: 15%;
     background-color:rgb(3,3,3);
     position: absolute;
     top: 55px;
     left: 2%;
     z-index: 9999;
}
.menu-text{/*汉堡菜单的文字区块*/
    font-weight: bolder;
    color: white;/***被超链接覆盖***/
    line-height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.menu-text a{
    color: white;
}
.menu-text div[class^='line']{/*文字前的线;属性选择器选中class为line设置*/
    width: 0px;
    height: 3px;
    background-color:rgb(34, 187,255);
    margin-right: 5px;
}
.music{/*音乐区块*/
    width: 45px;
    height: 45px;
    position: absolute;
    right: 150px;
    -webkit-animation: music 5s;
            animation: music 5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    cursor: pointer;
}
.music img{
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}
.music img:hover{
    -webkit-filter: brightness(3);
            filter: brightness(3);
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
@-webkit-keyframes music{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes music{
    from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}



section{/*内容区*/
	width: 85%;
	height: auto;
	margin: auto;
	margin-bottom: 2%;
	padding-top: 60px;
	overflow: hidden;
}
.fleximg{/*包含图片的区块*/
	overflow: hidden;
}
img{
	display: block;/*清除图片与区块间的间距*/
	width: 100%;
	cursor: pointer;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
img:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-filter: brightness(1.1);
	        filter: brightness(1.1);/*亮度*/
	-webkit-filter: saturate(2);
	        filter: saturate(2);
}
.Firstcolumn{
	float: left;
	width: 20%;
}
.Secondcolumn{
	float: left;
	width: 20%;
}
.Thirdcolumn{
	float: left;
	width: 20%;
}
.Fourthcolumn{
	float: left;
	width: 20%;
}
.Fifthcolumn{
	float: left;
	width: 20%;
}


/*jQuery调用*/
.sca{
	position: absolute;
	width: 30%;
}
.over{
	overflow: visible;
}
.dis{
	display: none;
}


/*中等屏幕*/
@media only screen and (max-width:1200px ) {
section{
	padding-top:10%;
}	
}
/*平板*/
@media only screen and (max-width:992px ) {
section{
	padding-top:10%;
}
}
/*手机*/
@media only screen and (max-width:768px ) {
section{
	padding-top:30%;
}
.sca{
	width: auto;
}
.menu{
     width: 45%;
}
}